<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="page.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/rainbow.min.css">
  </head>
  <body>

<div class="header-left"></div>
<div class="header-right"></div>
<div class="header">
  <div class="header-icon">{{icon}}</div>
  <h1>{{title}}</h1>
</div>

<div class="menu-left"></div>
<div class="menu-right"></div>
<div class="menu">
  <ul>
    <li><a href="index.html">{{#if isHome}}@{{else}}&lt;{{/if}}home</a></li>
  </ul>
</div>

<div class="content-left"></div>
<div class="content-right"></div>
<div class="content">
  <div class="content-main">
    {{& content}}
  </div>
</div>

<div class="footer">
  This page "<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{title}}</span>" is &copy; {{createYear}} <a xmlns:cc="http://creativecommons.org/ns#" href="https://bluefeet.dev" property="cc:attributionName" rel="cc:attributionURL">Aran Deltac</a>, is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 License</a>, was <a href="https://github.com/bluefeet/site-bluefeet.dev/commits/master/docs/{{ docsMdFile }}">most recently modified</a> on <span class="footer-date">{{modifyDate}}</span>, and is hosted for free by <a href="https://netlify.com/">Netlify</a>. 🖖
</div>

  </body>
</html>
